.navbar {
background-color: #01a0c7;
}

.navbar .nav > li > a
{
	color: white;
}

.team{
	margin-top: 20px;
}

.text{
	margin-left: 40px;
}

.details{
	margin-top: 20px;
}

.fields{
	margin-top: 20px;
}

input, textarea {  
    width: 400px;  
}  

input:focus, textarea:focus {  
    width: 340px;  
}  